<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h4>Caught Pokemon:</h4>
<ol>
  <% @pokemon.each do |p| %>
    <li>
      <p class="inline">
        <%= p.name %>
        (Level <%= p.level %>)
        Health <%= p.health %>
        <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %>
      </p>
    </li>
  <% end %>
</ol>

<% if @trainer == current_trainer %>
  <%= button_to "Add New Pokemon", pokemons_new_path, :class => "button medium", :method => :get %>
<% end %>
